.env
*.pyc
*.log
final_response.xlsx
latex_response.xlsx
search_latex_response.xlsx
*.csv
*.txt
*.xlsx
*.zip
superpilot/docs
original/*
Final/*
final/*
.cache
.idea
.DS_store
prompt.md
persona_output.jsonl
superpilot/vespa/my_application
RCA.pdf
