accelerate
aiohappyeyeballs
aiohttp
aiosignal
attrs
certifi
charset-normalizer
datasets
dill
evaluate
filelock
frozenlist
fsspec
huggingface-hub
idna
jieba3k
Jinja2
jiter
joblib
jsonpatch
jsonpath-python
jsonpointer
jsonschema
jsonschema-specifications
keyring
kiwisolver
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langchainplus-sdk
langcodes
langdetect
langsmith
language_data
layoutparser
lazy-model
libmagic
litellm
lxml
magicattr
makefun
Mako
marisa-trie
markdown-it-py
markdown2
MarkupSafe
marshmallow
matplotlib
md2pdf
mdurl
motor
mpmath
msal
msal-extensions
multidict
multiprocess
murmurhash
mypy-extensions
ndg-httpsclient
nebula3-python
nest-asyncio
networkx
newspaper3k
nh3
nltk
nodeenv
numexpr
numpy
oauthlib
odmantic
olefile
omegaconf
onnx
onnxruntime
openai
openapi-python-client
openapi-schema-pydantic
opencv-python
openpyxl
optuna
orjson
outcome
packaging
pandas
passlib
pathspec
pdf2image
pdfminer.six
pdfplumber
pi_heif
pikepdf
pillow
pkginfo
playwright
portalocker
postgrest
pre_commit
preshed
prompt_toolkit
propcache
proto-plus
protobuf
psutil
pwdlib
py
pyarrow
pyasn1
pyasn1_modules
pycocotools
pycparser
pydantic
pydantic-settings
pydantic_core
pydyf
pyee
pyflakes
Pygments
PyJWT
pymongo
PyMuPDF
PyMuPDFb
pyOpenSSL
pyparsing
pypdf
PyPDF2
pypdfium2
pyphen
pysbd
PySocks
pytesseract
python-dateutil
python-docx
python-dotenv
python-gitlab
python-iso639
python-jose
python-magic
python-multipart
python-oxmsg
python-pptx
python-semantic-release
pytz
pyvespa
PyYAML
ragas
RapidFuzz
readme_renderer
realtime
referencing
regex
requests
requests-file
requests-oauthlib
requests-toolbelt
retry
retrying
rfc3986
rich
rpds-py
rsa
safetensors
scikit-learn
scipy
SecretStorage
selenium
semver
sentence-transformers
setfit
sgmllib3k
shellingham
six
smart-open
smmap
sniffio
sortedcontainers
soupsieve
SQLAlchemy
srsly
starlette
storage3
StrEnum
striprtf
structlog
supabase
supafunc
superpilot
sympy
tabulate
tenacity
termcolor
threadpoolctl
tiktoken
timm
tinycss2
tinysegmenter
tldextract
tokenizers
toml
tomlkit
torch
torchaudio
torchvision
tqdm
transformers
trio
trio-websocket
tweepy
twine
typer
typing-inspect
typing_extensions
tzdata
ujson
unstructured
unstructured-client
unstructured-inference
unstructured.pytesseract
uritemplate
urllib3
urllib3-secure-extra
uvicorn
vespacli
virtualenv
wasabi
wcwidth
weasel
weasyprint
webdriver-manager
webencodings
websocket-client
websockets
wrapt
wsproto
XlsxWriter
xxhash
yarl
zopfli
