abstract_singleton
aiohappyeyeballs
aiohttp
aiosignal
alembic
annotated-types
anthropic
antlr4-python3-runtime
anyio
appdirs
argon2-cffi
argon2-cffi-bindings
async-timeout
attrs
auto_gpt_plugin_template
autoflake
azure-core
azure-identity
backoff
backports.tarfile
bcrypt
beanie
beautifulsoup4
bert-extractive-summarizer
black
#blis
Brotli
cachetools
catalogue
certifi
cffi
cfgv
chardet
charset-normalizer
click
click-log
cloudpathlib
colorama
coloredlogs
colorlog
confection
contourpy
cryptography
cssselect
cssselect2
cycler
cymem
Cython
dataclasses-json
datasets
decorator
Deprecated
deprecation
dill
dirtyjson
diskcache
distlib
distro
dnspython
docker
docopt
docutils
docx
docx2txt
dotty-dict
dspy
ecdsa
effdet
email_validator
emoji
# en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
et-xmlfile
eval_type_backport
exceptiongroup
faiss-cpu
fastapi
fastapi-users
fastapi-users-db-beanie
fastapi-users-db-sqlalchemy
feedfinder2
feedparser
filelock
filetype
FLAML
flatbuffers
fonttools
frozenlist
fsspec
future
gitdb
GitPython
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-vision
google_search_results
googleapis-common-protos
gotrue
greenlet
grpcio
grpcio-status
gTTS
h11
h2
hpack
html5lib
httpcore
httplib2
httpx
# huggingface-hub
humanfriendly
hyperframe
identify
idna
importlib-resources
importlib_metadata
inflection
invoke
iopath
isort
jaraco.classes
jaraco.context
jaraco.functools
jeepney
jieba3k
Jinja2
jiter
joblib
jsonpatch
jsonpath-python
jsonpointer
jsonschema
jsonschema-specifications
keyring
kiwisolver
# langchaln -s /Applications/work/superpilot/superpilot/check_file.py check_file.py
in
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langchainplus-sdk
langcodes
langdetect
langsmith
language_data
layoutparser
lazy-model
libmagic
litellm
llama-cloud
llama-index
llama-index-agent-openai
llama-index-cli
llama-index-core
llama-index-embeddings-openai
llama-index-graph-stores-nebula
llama-index-indices-managed-llama-cloud
llama-index-legacy
llama-index-llms-azure-openai
llama-index-llms-openai
llama-index-multi-modal-llms-openai
llama-index-program-openai
llama-index-question-gen-openai
llama-index-readers-file
llama-index-readers-llama-parse
llama-parse
lxml
magicattr
makefun
Mako
marisa-trie
markdown-it-py
markdown2
MarkupSafe
marshmallow
matplotlib
md2pdf
mdurl
more-itertools
motor
mpmath
msal
msal-extensions
multidict
multiprocess
murmurhash
mypy-extensions
ndg-httpsclient
nebula3-python
nest-asyncio
networkx
newspaper3k
nh3
nltk
nodeenv
numexpr
numpy
oauthlib
odmantic
olefile
omegaconf
onnx
# onnxruntime
openai
openapi-python-client
openapi-schema-pydantic
opencv-python
openpyxl
optuna
orjson
outcome
packaging
pandas
passlib
pathspec
pdf2image
pdfminer.six
pdfplumber
pi_heif
pikepdf
pillow
pkginfo
platformdirs
playwright
portalocker
postgrest
pre-commit
preshed
prompt_toolkit
proto-plus
protobuf
psutil
pwdlib
py
pyarrow
pyasn1
pyasn1_modules
pycocotools
pycparser
pydantic
pydantic-settings
pydantic_core
pydyf
pyee
pyflakes
Pygments
PyJWT
pymongo
PyMuPDF
PyMuPDFb
pyOpenSSL
pyparsing
pypdf
PyPDF2
pypdfium2
pyphen
pysbd
PySocks
pytesseract
python-dateutil
python-docx
python-dotenv
python-gitlab
python-iso639
python-jose
python-magic
python-multipart
python-oxmsg
python-pptx
python-semantic-release
pytz
pyvespa
PyYAML
ragas
RapidFuzz
readme_renderer
realtime
referencing
regex
requests
requests-file
requests-oauthlib
requests-toolbelt
retry
retrying
rfc3986
rich
rpds-py
rsa
safetensors
scikit-learn
scipy
SecretStorage
selenium
semver
sentence-transformers
sgmllib3k
shellingham
six
smart-open
smmap
sniffio
sortedcontainers
soupsieve
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
srsly
starlette
storage3
StrEnum
striprtf
structlog
supabase
supafunc
sympy
tabulate
tenacity
termcolor
thinc
threadpoolctl
tiktoken
timm
tinycss2
tinysegmenter
tldextract
tokenizers
toml
tomli
tomlkit
torch
torchaudio
torchvision
tqdm
transformers
trio
trio-websocket
tweepy
twine
typer
typing-inspect
typing_extensions
tzdata
ujson
unstructured
unstructured-client
unstructured-inference
unstructured.pytesseract
uritemplate
urllib3
urllib3-secure-extra
uvicorn
vespacli
virtualenv
wasabi
wcwidth
weasel
weasyprint
webdriver-manager
webencodings
websocket-client
websockets
wrapt
wsproto
XlsxWriter
xxhash
yarl
zipp
zopfli
