google-search-results==2.4.2
bert-extractive-summarizer==0.10.1
joblib==1.2.0
git+https://github.com/huggingface/setfit.git
distro==1.8.0
openai==0.27.2
playsound==1.2.2
auto-gpt-plugin-template==0.0.3
gTTS==2.3.1
tiktoken==0.3.3
beautifulsoup4>=4.12.2
openapi-python-client==0.13.4
duckduckgo-search==3.8.1
tweepy==4.14.0
webdriver-manager==3.8.6
orjson==3.8.10
selenium==4.1.4
newspaper3k==0.2.8
google-api-python-client==2.91.0
inflection==0.5.1
supabase==1.0.2
supafunc==0.2.2
postgrest==0.10.6
gotrue==1.0.2
pymupdf
typing-extensions==4.5.0
docx2txt==0.8
dnspython==1.16.0
httpx==0.23.3
langchain==0.0.202
prompt_toolkit==3.0.39
md2pdf==1.0.1
playwright==1.36.0