LIVEKIT_URL=<your LiveKit server URL>
LIVEKIT_API_KEY=<your API Key>
LIVEKIT_API_SECRET=<your API Secret>
OPENAI_API_KEY=<To use other providers, press Enter for now and edit .env.local>
DEEPGRAM_API_KEY=<To use other providers, press Enter for now and edit .env.local>
