.env
*.pyc
*.log
final_response.xlsx
latex_response.xlsx
search_latex_response.xlsx
*.csv
*.txt
*.xlsx
*.zip
superpilot/docs
original/*
Final/*
final/*
.cache
.env.local

outbound-trunk.json
inbound-trunk.json
dispatchRule.json
creds.json
../../../.DS_Store
../../../.env
../../../__pycache__/
../../../superpilot.egg-info/
../../.DS_Store
../.DS_Store
sip-participant.json
=0.12.1
requirements.txt